option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:application:environment:
    DEBUG: "False"
    SECRET_KEY: "django-eb-secret-key-change-in-console"
    ALLOWED_HOSTS: ".elasticbeanstalk.com,.us-east-2.elasticbeanstalk.com,localhost,127.0.0.1"
    EMAIL_HOST_USER: "gestionactassena@gmail.com"
    EMAIL_HOST_PASSWORD: "svoe ulrs rwvr klms"
    DEFAULT_FROM_EMAIL: "Sistema Actas SENA <gestionactassena@gmail.com>"
    USE_HTTPS: "false"
    DATABASE_URL: "postgres://postgres:SenaActas2025!@sistema-actas-db.cpq28ei46ohw.us-east-2.rds.amazonaws.com:5432/postgres"
