option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:application:environment:
    DEBUG: "False"
    SECRET_KEY: "django-eb-secret-key-change-in-console"
    ALLOWED_HOSTS: ".elasticbeanstalk.com,.us-east-2.elasticbeanstalk.com,localhost,127.0.0.1"
    EMAIL_HOST_USER: "gestionactassena@gmail.com"
    EMAIL_HOST_PASSWORD: "vhvn btdf gmpw sde"
    DEFAULT_FROM_EMAIL: "Sistema Actas SENA <gestionactassena@gmail.com>"
